*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    scroll-behavior:smooth;
}





#segundaparte h2{
    font-size:50px;
    padding-bottom: 10px;
    padding-top: 120px;
    color:black;
}

#segundaparte p {                
        font-size:20px;
        width:600px;
       
        color: black;
       
}


#segundaparte {
    height:711px;
   display:flex;
    background-color:#595959;
    font-family: Arial, Helvetica, sans-serif;
    background-image:url(Img/vintage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}


img.Sena{
    height:60%;
    width:20%;
    margin-top:10%;
    margin-left:10%;
    
}


#segundaparte h4{
        font-size:20px;
        padding-bottom:20px;
        color:black;
}
/* MARGIN-LEFT : 270PX*/
.texto{
    width:600px;
    margin-left: 200px;
    height:600px;
   
}

/*TERCEIRA SECÇÃO
*/

.texto2 p{
   
    font-size: 21px;
    color:black;
    display: flex;
    padding:10px;
    border-radius: 10px 0px 10px 0px;
    
    
}

.texto2{
        width:600px;
        margin-left:150px;
        padding-top:200px;
        background-color:#fac300;
        opacity:.8;
       border: black 5px solid;
}
/*#6665fe*/

.texto2 h2{
    color:black;
    font-size:40px;
    padding-left:50px;
   
    width:300px;
    border-radius:10px 0px 10px 0px;
    
}



#terceiraparte{
    height:711px;
    width:100%;
    background-image: url(Img/saoview2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
  #bandeira {
    height:95%;
    width:600px;
    padding-top:100px;
    float: left;
    padding-bottom: 70px;
    padding-left: 100px;
}


@media screen and (max-width: 1220px) {
    #segundaparte .Sena   {
        margin-left:8%;
        margin-top:15%;
        
        
     }
     #segundaparte .texto   {
        margin-left:10%;
        
     }
   }
   
   

   @media screen and (max-width: 1115px) {
    #segundaparte .texto   {
        margin-left:20%;
        font-size:10px;
        
     }

    #segundaparte  {display: block;
        height:1100px;
    }

    #segundaparte .Sena {
        height: 35%;
        margin-top:0%;
        margin-left:40%;
        width:30%;
    }
   }

   @media  screen and (max-width:833px) {
    #segundaparte p   {
        margin-left:0%;
        font-size:2.5vh;
        width:80%;
        
     }
       #segundaparte .texto {
           margin-left:10%;
       }
       #segundaparte .Sena{
           width:30%;
           margin-top:5%;
           margin-left:30%;
           height:25%;
       }
   }

   @media  screen and (max-width:559px) {
    #segundaparte p   {
        margin-left:0%;
        font-size:2.5vh;
        width:60%;
        
     }
       #segundaparte .texto {
           margin-left:10%;
       }
       #segundaparte .Sena{
           width:40%;
           margin-top:25%;
           margin-left:30%;
           height:25%;
       }
   }

   @media  screen and (max-width:1372px){
    #terceiraparte .texto2{
        width:25%;
        margin-left:10%;
        width:33%;
    }
        #terceiraparte{
            background-size: cover;
        }
        #terceiraparte #bandeira{
            padding-left:1%;
            width:100%;
        }
   }

   @media  screen and (max-width:1089.6px){
       #terceiraparte {
           height:900px;
           
       }
   }

   @media  screen and (max-width:1075.2px)
   {
        #terceiraparte #bandeira  {
            padding-left:1%;
            height:85%;
        }
   }

   @media  screen and (max-width:921.6px){
      

       #terceiraparte #bandeira{
            display: none;
       }
       #terceiraparte .texto2{
           width:90%;
           margin-right: 15%;
           padding-top:20%;
           margin-bottom:20%;
           margin-top:20%;
       }
   }