*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    scroll-behavior:smooth;
}





#segundaparte{
    background-image: url(Img/penicheviewcima.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:711px;
    display: flex;
    
}

#segundaparte img{
    margin-left:140px;
    width:20vw;
    margin-top:10vw;
    z-index:1000;
    height:auto;
    padding-right: 80px;
}

#segundaparte p{
        margin-top:10vw;
        width:1200px;
        font-size:20px;
        font-family:Arial, Helvetica, sans-serif;
        color:white;
        background-color: #39bac6;
        margin-bottom: 18vw;
        padding:20px;
        border-radius: 10px 0px 0px 10px;
        padding-top:35px;
        opacity:.85;
}

#thirdparte{
    height:711px;
}


@media  screen and (max-width:1223px){
        #segundaparte{
            display:block;
            height:1200px;
        }
        #segundaparte img{
            height:auto;
            width:25vw;
            margin-left:40vw;
        }
        #segundaparte p{
            width:80vw;
            border-radius: 10px 10px 10px 10px;
            margin-left:9vw;
        }
}

@media  screen and (max-width:854px){
    #segundaparte img{
        height:auto;
        width:40vw;
        margin-left:35vw;
    }
    #segundaparte{
        height:750px;
       
    }
    #segundaparte p{
        font-size:2.5vw;
    }
    #segundaparte{
        height:1220px;
    }
}

@media  screen and (max-width:690px){
    #segundaparte{
        height:900px;
    }
}

@media  screen and (max-width:515px){
    #segundaparte{
        height:650px;
    }
}




