*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    scroll-behavior:smooth;
}





#segundaparte{
    background-image: url(Img/penicheviewcima.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height:711px;
    display: flex;
    
}

#segundaparte img{
    margin-left:140px;
    width:55%;
    margin-top:120px;
    z-index:1000;
    height:60%;
    padding-right: 80px;
}

#segundaparte p{
        margin-top:200px;
        width:1200px;
        font-size:20px;
        font-family:Arial, Helvetica, sans-serif;
        color:white;
        background-color: #39bac6;
        margin-bottom: 160px;
        padding:20px;
        border-radius: 10px 0px 0px 10px;
        padding-top:35px;
        opacity:.85;
}

#thirdparte{
    height:711px;
}



