*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    scroll-behavior:smooth;
}





#quintaparte{
    
    height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#quintaparte h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#quintaparte img{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: auto;
        padding-bottom: 5%;
        padding-top: 5%;
       
}

#sextaparte{
    height:711px;
    
}

#sextaparte img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-top:10%;
    
}

#quintaparte h1{
    font-size: 35px;
    padding-left:40px;
    padding-top:100px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    
    
}

#bothcombined{
    background-image: url(img/praiafundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media  screen and (max-width:1064px) {
    #sextaparte img{
        margin-top:0%;
    }
    #quintaparte img{
        padding-bottom:1%;
    }
}

@media  screen and (max-width:770px){
    #quintaparte{
        height:570px;
    }
    #sextaparte{
        height:400px;
    }
}

@media  screen and (max-width:543px){
    #quintaparte{
        height:450px;
    }
    #sextaparte{
       height:300px;
    }
}
