*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    scroll-behavior:smooth;
}





#quintaparte{
    
    height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#quintaparte h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#quintaparte img{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 90%;
        padding-bottom: 80px;
        padding-top: 50px;
        
}

#sextaparte{
    height:711px;
    
}

#sextaparte img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 90%;
    padding-top: 10px;
    
}

#quintaparte h1{
    font-size: 35px;
    padding-left:40px;
    padding-top:100px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    
    
}

#bothcombined{
    background-image: url(img/praiafundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

