*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    scroll-behavior:smooth;
}



nav{
    width:100%;
    height:60px;
    top:0px;
    position: fixed;
    background-color: #ffc502;
    z-index: 1000;
}

nav ul {
    float:left;
    padding-left:75px;
    height: 60px;
    
}



nav ul li{
    float:left;
    list-style: none;
    position:relative;
    height: 60px;
    padding-left:20px;
    padding-right: 20px;
    border-left: 0.5px solid black;
}

nav ul li a{
        font-size:20px;
        padding:18px 30px;
        display: block;
        text-decoration: none;
        color:black;
        
}

nav ul li ul{
    position:absolute;
    padding:10px;
    display:none;
}


nav ul li:hover ul{
    display: flex;
    
}

nav ul li ul li a{
    padding:12px 14px;
    width:220px;
    color:black;
    background-color: #ffc502;
    
}

nav ul li ul li a:hover{
    
    
    border:2px solid black;
    background-color: #ffc502;
   
}

#quintaparte{
    
    height: 780px;
    background-repeat: no-repeat;
    background-size: cover;
}

#quintaparte h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#quintaparte img{
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        height: 90%;
        padding-bottom: 80px;
        padding-top: 50px;
        
}

#sextaparte{
    height:711px;
    
}

#sextaparte img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 90%;
    padding-top: 10px;
    
}

#quintaparte h1{
    font-size: 35px;
    padding-left:40px;
    padding-top:100px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    
    
}

#bothcombined{
    background-image: url(img/praiafundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

