*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


html{
    scroll-behavior:smooth;
}

/*Sétima Parte - Quinta do Gato Cinzento */

#setimaparte{
    height:1150px;
    background-image: url(Img/gato.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    
}

#setimaparte h1{
    font-size: 35px;
    padding-left:40px;
    padding-top:80px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid black;
    border-top: 3px solid black;
    
}

#setimaparte p{
    margin-top:150px;
    margin-left:90px;
    width:650px;
    font-size: 20px;
    color:black;
    height:240px;
    padding:20px;
    border:1px solid black;
    background-color:#f2f2f2;
}

#texto3 img{
    width:41%;
    margin-left:4%;
    margin-top:4%;
    border-radius:5px;
}

#texto3{
    display: flex;
}

#QuintaImg Img{
    width:40vw;
    height:auto;
    margin-left:5%;
    margin-top:4%;
    border-radius: 5px;
}
#QuintaImg{
    display:flex;
}

#QuintaImg p{
    margin-left:3%;
    font-size:20px;
    
}

/*MEDIA QUERIES */

@media screen and (max-width:1358px ){
    #texto3{
        width:95%;

    }
    #texto3 p{
        height:40%;
    }
    #QuintaImg p{
        height:40%;
    }
    #setimaparte{
        height:1500px;
    }
}

@media screen and (max-width:1229px){
   #texto3{
       display:block;
   }
   #QuintaImg{
       display:block;
       align-items: center;
   }
   #texto3 img{
       width:80%;
       height:80%;
   }
   #QuintaImg img{
       width:75%;
       height:75%;
      
   }
   #texto3 p{
       font-size:2vw;
       margin-left:3vw;
       width:70vw;
       margin-top:5%;
   }
   #QuintaImg p{
    font-size:2vw;
    margin-left:3vw;
    width:70vw;
    margin-top:5%;
   }
   #setimaparte{
    height:2000px;
}
}

@media screen and (max-width:873px){
    #setimaparte{
        height:1550x;
    }
}

@media screen and (max-width:614px){
        #setimaparte p{
            font-size:3vw;
        }
        #setimaparte{
            height:1450px;
        }
}

@media screen and (max-width:888px){
    #setimaparte{
        height:1700px;
    }
}
@media screen and (max-width:497.6px){
    #setimaparte{
        height:1250px;
    }
}